{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#8ac1f8">
  <div class="container">
    <div class="row" >
      <h1  align="center">Библиотека</h1>
      <p></p>
    </div>
  </div>
</header>


<div class="container">
  <div class="row">
    <div class="span6" >
        <form action="/" method="POST">
            <table>
                <tr>
                    <td><b>Издатель</b></td>
                    <td><b>Книга</b></td>
                    <td><b>Имя автора</b></td>
                </tr>
                <tr>
                <td><input type="text" name="Publisher" value="{{.Publisher}}"/></td>
                <td><input type="text" name="BookName" value="{{.BookName}}" /></td>
                <td><input type="text" name="Author" value="{{.Author}}" /></td>
                <td><b><input type="submit" value="Поиск"/></b></td>
                </tr>
            </table>
        </form>
        <table class="table">
            <thead>
            <tr>
            <th>Издательство</th>
            <th>Название книги</th>
            <th>Автор</th>
            </tr>
            </thead>
         <tbody>
            {{range $_, $e := .books}}
            <tr>
            <td>{{$e.Author}}</td>
            <td>{{$e.BookName}}</td>
            <td>{{$e.Publisher}}</td>
            </tr>
            {{end}}
         </tbody>
        </table>
    </div>
  </div>
</div>


{{template "footer.html" .}}
